@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-light-cyan: hsl(195, 100%, 64%);
    --clr-cyan: hsl(179, 62%, 43%);
    --clr-bright-yellow: hsl(71, 73%, 54%);
    --clr-light-gray: hsl(204, 43%, 93%);
    --clr-grayish-blue: hsl(218, 22%, 67%);

    --fw-normal: 400;
    --fw-bold: 700;

}

.clr-light-cyan {
    color: var(--clr-light-cyan);
} 
.clr-light-gray {
    color: var(--clr-light-gray);
}
.clr-cyan {
    color: var(--clr-cyan);
}
.clr-bright-yellow {
    color: var(--clr-bright-yellow);
}
.clr-grayish-blue {
    color: var(--clr-grayish-blue);
}
.clr-para {
    color: hsl(180, 98%, 83%);
}

.fw-bold {
    font-weight: var(--fw-bold);
}
.fw-normal {
    font-weight: var(--fw-normal);
}

.fs-50 {
    font-size: 1.2rem;
}

.fs-100 {
    font-size: 1.5rem;
}
.fs-200 {
    font-size: 2rem;
}

body {
    background-color: var(--clr-light-gray);
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.idle {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.container {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 150px;
    max-height: 800px;
    width: 580px;
    height: 430px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px gray;
}

.lower-part {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.join-community {
    background-color: white;
    height: 50%;
}

.pricing {
    padding: 1.7rem 1rem 2rem 2rem;
    background-color: var(--clr-cyan);
    color: white;
    width: 50%;
    gap: 10px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

}

button {
    height: 40px;
    border: none;
    background-color: var(--clr-bright-yellow);
    color: white;
    font-size: 1rem;
    font-weight: var(--fw-bold);
    border-radius: 4px;
    cursor: pointer;
}


.why-us {
    padding: 1.7rem 1rem 2rem 2rem;
    background-color: var(--clr-light-cyan);
    width: 50%;
    color: white;
}

.description {
    width: 75%;
    font-size: 14px;
}

@media (max-width: 600px) {
    .container {
        width: 300px;
        height: 750px;
        display: flex;
        flex-direction: column;
    }

    
    .lower-part {
        display: flex;
        flex-direction: column;
        height: 80%;
    }
    
    .join-community {
        gap: 10px;
        width: 100%;
    }

    .pricing {
        padding: 1rem;
        height: 50%;
        width: 100%;
    }

    .why-us {
        padding: 1rem;
        height: 50%;
        width: 100%;
        gap: 10px;
    }

    .description {
        font-size: 1rem;
    }

}

@media (max-width: 300px) {
    * {
        font-size: .8rem;
    }

    .container {
        width: 150px;
        height: 600px;
    }

    .pricing {
        height: 100%;
    }

    .description {
        padding: 0;
        font-size: .9rem;
        width: 100%;
        height: 90%;
        
    }
    .pricing {
        padding: 1rem;
        height: 50%;
        width: 100%;
    }

    .why-us {
        height: 50%;
        width: 100%;
        gap: 10px;
    }
    
}
